.album_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

.item_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 12.5px 25px 12.5px 25px;
}

.album_cover {
  width: 200px;
  height: 200px;
  border: .5px solid rgba(0,0,0,.1);
  border-radius: 4px;

  /* extra 2% ensures no internal extra space between the image and the border of the div*/
  background-size: 102%; 
  background-repeat: no-repeat;
  background-position: center;
}

.album_title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 24;
  margin: 5px 0 1px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: inherit;
}

.artist_name {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: grey;
  font-weight: 24;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: inherit;
}

.album_anchor {
  text-decoration: none;
  color: inherit;
}

.album_anchor:hover {
  text-decoration: underline;
  color: inherit;
}

.search_input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  font-size: 72px;
  background: none;
  box-shadow: none;
  border: 0;
  padding: 10px 0 10px 20px;
}

.search_input:focus {
  outline: 0;
}

.search_bar {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  background-color: white;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
}

.search_icon {
  margin-right: 25px;
  color: grey;
}

.search_icon:hover {
  color: black;
}